/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;600&display=swap');

/* Defaults */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 1920px;
    background-color: #0e0e0e;
    overflow: hidden;
}

/* Main */
.main {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.main img {
    width: 100%;
    height: 100%;
}

.vignette {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    box-shadow: 0 0 200px rgba(0, 0, 0, 1) inset;
}

/* Text */
.text {
    font-family: "Sometype Mono", sans-serif;
    color: #ffffff;
}

/* Weather */
.weather {
    position: fixed;
    width: 100%;
    height: auto;
}

.weather img {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px;
    width: 128px;
    height: 128px;
}

.weather h1 {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 38px;
    padding-left: 140px;
    font-weight: 600;
    font-size: 38px;
    text-align: right;
}

.weather h2 {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 75px;
    padding-left: 140px;
    font-weight: 400;
    font-size: 24px;
    text-align: right;
}

.weather p {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 128px;
    padding-left: 36px;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
}

/* Information */
.information {
    position: relative;
    width: 100%;
    height: auto;
}

.information h1 {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 38px;
    padding-right: 36px;
    font-weight: 600;
    font-size: 42px;
    text-align: right;
}

.information p {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 100px;
    padding-right: 36px;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
}

/* Credits */

.credit {
    position: relative;
    width: 100%;
    height: auto;
}

.credit a {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 12px;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
}

.credit a:hover {
    text-decoration: underline;
}